<div>
  <h1>Créée une nouvelle rumeur !</h1>
</div>

<p>On balance pas de rumeur anonymes ici, on est pas des lâches... </p>


  <div class="form-group">
    <label for="exampleInputEmail1">Décline ton identité stp :</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Allez, fais un effort: dis-moi ton p'tit nom :)">
    <small id="emailHelp" class="form-text text-muted">(2 à 30 caractères autorisés)</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Choisi un titre pour ta rumeur</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="*un titre bien croustillant*">
    <small id="emailHelp" class="form-text text-muted">(3 à 14 caractères autorisés)</small>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Balance nous une rumeur !</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Et c'est dans la boite !</button>
</form>